/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: Helvetica;
}
img{
    width: 100%;
    display: block;
}

/* HEADER */
.header_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px 10px;
}
.title{
    color: red;
}
.filter label{
    color: white;
}
/* HEADER END */

/* MAIN */
.main_container{
    background-color: gray;
}
.movie_list{
    padding: 20px 10px;
}
.movie{
    background-color: green;
    padding: 10px;
    list-style-type: none;
}
/* MAIN END */