<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>BoolFlix</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- Css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" ></script>
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue" ></script>
</head>

<!-- BODY -->
<body>
    <!-- Vue Container -->
    <div id="root">
        <!-- HEADER -->
        <header>
            <div class="header_container">
                <!-- Heading -->
                <div class="title" @click="home">
                    <h1>BoolFlix</h1>
                </div>

                <!-- Search filter -->
                <div class="filter">
                    <label for="search">Cerca</label>
                    <input v-model="search" @keyUp.enter="startSearch" id="search" type="text">
                    <button @click="startSearch">Vai</button>
                </div>
            </div>
        </header>
        <!-- HEADER END -->

        <!-- MAIN -->
        <main>
            <div class="main_container">
                <!-- Popular movie set in homepage -->
                <ul class="movie_list">
                    <li v-for="movie in popularMovie" v-if="filteredMovie.length == 0" class="movie">
                        <ul class="movie_data">
                            <li>
                                Titolo: {{movie.title}}
                            </li>
                            <li>
                                Titolo Originale: {{movie.original_title}}
                            </li>
                            <li>
                                <img :src="'img/language-' + movie.original_language + '.svg'" :alt="movie.original_language">
                            </li>
                            <li>
                                Voto: {{movie.vote_average}}
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- Searched movie -->
                <ul class="movie_list">
                    <li v-for="movie in filteredMovie" class="movie">
                        <ul class="movie_data">
                            <li>
                                Titolo: {{movie.title}}
                            </li>
                            <li>
                                Titolo Originale: {{movie.original_title}}
                            </li>
                            <li>
                                <img :src="'img/language-' + movie.original_language + '.svg'" :alt="movie.original_language">
                                Lingua: {{movie.original_language}}
                            </li>
                            <li>
                                Voto: {{movie.vote_average}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </main>
        <!-- MAIN END -->
    </div>
    <!-- Vue Container End -->

    <!-- Javascript -->
    <script src="js/script.js" ></script>
</body>
<!-- BODY END -->
</html>