<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>BoolFlix</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- Css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" ></script>
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue" ></script>
</head>

<!-- BODY -->
<body>
    <!-- Vue Container -->
    <div id="root">
        <!-- HEADER -->
        <header>
            <div class="header_container">
                <!-- Heading -->
                <div class="title" @click="home">
                    <h1>BoolFlix</h1>
                </div>

                <!-- Search filter -->
                <div class="filter">
                    <label for="search"></label>
                    <input v-model="search" @keyUp.enter="startSearch" id="search" type="text" placeholder="Cerca...">
                    <button @click="startSearch" class="ms_btn">Vai</button>
                </div>
            </div>
        </header>
        <!-- HEADER END -->

        <!-- MAIN -->
        <main>
            <div class="main_container">
                <!-- Popular movie set in homepage -->
                <ul class="movie_list">
                    <li v-for="movie in popularMovie" v-if="filteredMovie.length == 0" class="movie">
                        <div class="poster">
                            <img :src="cover + movie.poster_path" alt="">
                        </div>
                        <ul class="movie_data">
                            <!-- Main Title -->
                            <li>
                                <div>
                                    <span class="strong_text">Titolo: </span> {{movie.title}}
                                </div>
                            </li>
                            <!-- Original Title -->
                            <li>
                                <div>
                                    <span class="strong_text">Titolo Originale: </span> {{movie.original_title}}
                                </div>
                            </li>
                            <!-- Vote -->
                            <li>
                                <div class="vote_container">
                                    <span class="strong_text">Voto: </span>
                                    <i v-for="star in voteCalculator(movie.vote_average)" class="fas fa-star gold_star"></i>
                                    <i v-for="star in (rateCounter - voteCalculator(movie.vote_average))"class="far fa-star star"></i>
                                </div>
                            </li>
                            <!-- Overview -->
                            <li>
                                <div>
                                    <span class="strong_text">Overview: </span> {{movie.overview}}
                                </div>
                            </li>
                            <!-- Language -->
                            <li>
                                <div class="lang_container">
                                    <span v-if="language.includes(movie.original_language)" class="strong_text">Lingua: <img  :src="'img/language-' + movie.original_language + '.svg'" :alt="movie.original_language" class="flag"></span>
                                    <div v-else ><span class="strong_text">Lingua: </span>{{movie.original_language}}</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- Searched movie -->
                <ul class="movie_list">
                    <li v-for="movie in filteredMovie" class="movie">
                        <ul class="movie_data">
                            <li>
                                <img v-if="movie.poster_path":src="cover + movie.poster_path" alt="">
                                <div v-else>Image not found</div>
                            </li>
                            <li>
                                <div v-if="movie.title">Titolo: {{movie.title}}</div>
                                <div v-if="movie.name">Titolo: {{movie.name}}</div>
                            </li>
                            <li>
                                Titolo Originale: {{movie.original_title}}
                            </li>
                            <li>
                                <img v-if="language.includes(movie.original_language)" :src="'img/language-' + movie.original_language + '.svg'" :alt="movie.original_language">
                                <div v-else >Lingua: {{movie.original_language}}</div>
                            </li>
                            <li>
                                <i v-for="v in voteCalculator(movie.vote_average)" class="fas fa-star"></i>
                                <i v-for="star in (rateCounter - voteCalculator(movie.vote_average))"class="far fa-star"></i>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </main>
        <!-- MAIN END -->
    </div>
    <!-- Vue Container End -->

    <!-- Javascript -->
    <script src="js/script.js" ></script>
</body>
<!-- BODY END -->
</html>